<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <form action="{% url 'postdatauser' %}"  method="POST">
    <h1>Tambah Data User</h1>
    {% csrf_token %}
    <label>
      User ID : <br>
      <input type="text" name="id_user" id="id_user" maxlength="4" required>
    </label><br>
    <label>
      Username : <br>
      <input type="text" name="username" id="username" maxlength="10" required> 
    </label><br>
    <label>
      Role : <br>
      <input type="radio" name="role" value="Admin">Admin <br>
      <input type="radio" name="role" value="Guru">Guru <br>
      <input type="radio" name="role" value="Siswa">Siswa <br>
    </label><br>
    <label>
      Password : <br>
      <input type="password" name="password" id="password" maxlength="10" required>
    </label><br>
    <label>
      Check Password : <br>
      <input type="password" name="password2" id="password2" maxlength="10" required>
    </label><br><br>

    <button type="submit">SUBMIT</button>
  </form>
</body>
</html>