<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Delete Data Guru</h1>
  <h3>Apakah Anda Yakin Ingin Menghapus Data Ini ?</h3>
  <p>NIP : {{ data_guru.nip }}</p>
  <p>Nama : {{ data_guru.nama }}</p>
  <p>Tgl Lahir : {{ data_guru.tgl_lahir }}</p>
  <p>E-mail : {{ data_guru.email }}</p>
  <a href="{% url 'indexguru' %}">Cancele</a> | <a href="{% url 'postdeleteguru' data_guru.nip %}">Hapus</a>
</body>
</html>