{% extends 'layout/base.html' %}
{% block title %}
  Data Guru Page
{% endblock %}
{% block head %}
  Data Guru
{% endblock %}
  {% if messages %}
    {% for message in messages %}
      <h3>{{ message }}</h3>
    {% endfor %}
  {% endif %}
{% block content %}
  <a class="btn btn-primary mb-3 shadow-lg p-2" href="{% url 'tambahguru' %}"><i class="fas fa-user-plus"></i> Tambah Data Guru</a>
  <div class="card">
    <div class="card-body">
      <table class="table table-bordered table-hover">
        <thead class="bg-dark table-hover">
          <tr>
            <th>NO</th>
            <th class="col-lg-3">Foto</th>
            <th class="col-lg-2">NIP</th>
            <th class="col-lg-3">Nama Guru</th>
            <th class="col-lg-4">Action</th>
            </tr>
        </thead>
        <tbody>
          {% for guru in data_guru %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ guru.foto }}</td>
            <td>{{ guru.nip }}</td>
            <td>{{ guru.nama }}</td>
            <td>
              <a class="btn btn-info" href="{% url 'detailguru' guru.nip %}"><i class="fas fa-eye"></i>Detail</a> |
              <a class="btn btn-warning" href="{% url 'updatedataguru' guru.nip %}"><i class="fas fa-pencil-alt"></i>Edit</a> | 
              <a class="btn btn-danger" href="{% url 'deletedataguru' guru.nip %}"><i class="fas fa-trash"></i>Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  
{% endblock %}
