{% extends 'layout/baseAdmin.html' %}
{% block title %}
  Data Guru Page
{% endblock %}
{% block name_profile %}
{{ user.username }}
{% endblock %}
{% block content %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true" onclick="location.href='/indexGuru'">×</button>
  <h5><i class="icon fas fa-check"></i> Success!</h5>
  {{ message }}
</div>
{% endfor %}
  <div class="card shadow-lg">
    <div class="card-header bg-info">
      <div class="text-center "><h2>Daftar Data Guru</h2></div> 
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-9">
          <a class="btn btn-primary mb-3 shadow-lg p-2" href="{% url 'tambahguru' %}"><i class="fas fa-user-plus"></i> Tambah Data Guru</a>
        </div>
        <div class="col-3">
          <form action="">
            {% if query %}
          <div class="input-group mb-3">
            <input placeholder="Search Guru" value="{{ query }}" type="text" name="search" id="search" class="from-control">
            <label class="input-group-text" for="search" style="width: 40px;"><i class="fas fa-search"></i></label>
          </div>
          {% else %}
          <div class="input-group mb-3">
            <input placeholder="Search Guru" type="text" name="search" id="search" class="from-control">
            <label class="input-group-text" for="search" style="width: 40px;"><i class="fas fa-search"></i></label>
          </div>
          {% endif %}
          </form>
        </div>
      </div>
      <table class="table table-bordered table-hover">
        <thead class="table-hover" style="background-color: #819293;">
          <tr style="color: white;">
            <th>NO</th>
            <th class="col-lg-3">Foto</th>
            <th class="col-lg-2">NIP</th>
            <th class="col-lg-3">Nama Guru</th>
            <th class="col-lg-4">Action</th>
            </tr>
        </thead>
        <tbody>
          {% for guru in data_guru %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td><img class="img-fluid" style="width: 100px; height: 100px;" src="{{ guru.foto }}" alt="Foto : {{ guru.nama }}"></td>
            <td>{{ guru.nip }}</td>
            <td>{{ guru.nama }}</td>
            <td>
              <a class="btn btn-info" href="{% url 'detailguru' guru.nip %}"><i class="fas fa-eye"></i>Detail</a> |
              <a class="btn btn-warning" href="{% url 'updatedataguru' guru.nip %}"><i class="fas fa-pencil-alt"></i>Edit</a> | 
              <a class="btn btn-danger" href="{% url 'deletedataguru' guru.nip %}"><i class="fas fa-trash"></i>Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  
{% endblock %}
