{% extends 'layout/baseSiswa.html' %}
{% block title %}
Daftar Nilai Siswa Page
{% endblock %}
{% block head %}
Daftar Nilai Siswa
{% endblock %}
{% block name_profile %}
{{ user.nama }}
{% endblock %}
{% block foto_profile %}
{{ user.foto.url }}
{% endblock %}
{% block content %}
{% if message %}
<div class="card-header bg-danger ml-5" style="width: 92%;">
    <h4 class="text-center text-bold">{{ message }} <br>Hubungi Tata Usaha Jika Ini Sebuah Kesalahan !</h4>
</div>
{% endif %}
<div class="card ml-5 " style="width: 92%;">
  <div class="card-body">

    <table class="mt-4">
      <tbody>
        <div >
          <tr class="form-group">
            <td class="col-2"><b>Nama </b></td>
            <td> : {{ siswa.nis_siswa.nama }}</td>
          </tr>
          <tr class="form-group">
            <td class="col-2 "><b>NIS </b></td>
            <td> : {{ siswa.nis_siswa.nis }}</td>
          </tr>
          <tr class="form-group">
            <td class="col-2"><b>Kelas </b></td>
            <td> : {{ siswa.id_kelas.nama_kelas }}</td>
          </tr>
          <tr class="form-group">
            <td class="col-2"><b>Wali Kelas </b></td>
            <td> : {{ siswa.id_kelas.nip_waliKelas.nama }}</td>
          </tr>
        </div>
      </tbody>
    </table><br>
    <table class="table table-striped table-hover ml-1 border">
      <thead class="">
        <tr class="text-center bg-dark">
          <th>#</th>
          <th>Mata Pelajaran</th>
          <th>Id Mapel</th>
          <th>Tugas</th>
          <th>Ulangan</th>
          <th>UTS</th>
          <th>UAS</th>
          <th>Rata-rata</th>
        </tr>
      </thead>
      <tbody>
        {% for n in nilai %}
        <tr>
          <td class="text-center text-monospace text-bold">-</td>
          <td>{{ n.id_mapel.nama_mapel }}</td>
          <td class="text-center text-monospace">{{ n.id_mapel.id_mapel }}</td>
          <td class="text-center text-monospace">{{ n.nil_rata_tg }}</td>
          <td class="text-center text-monospace">{{ n.nil_rata_ul }}</td>
          <td class="text-center text-monospace">{{ n.nil_uts }}</td>
          <td class="text-center text-monospace">{{ n.nil_uas }}</td>
          <td class="text-center text-monospace">{{ n.nil_rata_rata }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table> <br> <br>
    <a class="btn btn-danger ml-1" href="{% url 'exportnilaipribadi' %}"><h6 class="mt-2"><i class="fas fa-file-export"></i> Export <i class="far fa-file-pdf"></i></h6></a><br>
  </div>
</div><br>
{% endblock %}