{% extends 'layout/baseAdmin.html' %}
{% block title %}
Detail Data Siswa Page
{% endblock %}
{% block name_profile %}
{{ user.username }}
{% endblock %}
{% block content %}
<div class="card shadow-lg">
  <div class="card-header bg-info">
    <div class="text-center"><h2>Delete Data Siswa</h2></div>
    <div class="form-group">
      <h3 class="text-center ml-5">Apakah Anda Yakin Ingin Menghapus Data Ini ?</h3>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6 ml-5">
        <div class="card bg-secondary shadow">
          <div class="card-body">
            <table class="table">
              <tbody>
                <div class="form-group">
                  <tr>
                    <td><b>Nama</b></td>
                    <td>: {{ data_siswa.nama }}</td>
                  </tr>
                  <tr>
                    <td><b>NIP</b></td>
                    <td>: {{ data_siswa.nis }}</td>
                  </tr>
                  <tr>
                    <td><b>Semester</b></td>
                    <td>: {{ data_siswa.semester }}</td>
                  </tr>
                  <tr>
                    <td><b>Jenis Kelamin</b></td>
                    <td>: {{ data_siswa.jk }}</td>
                  </tr>
                  <tr>
                    <td><b>Alamat</b></td>
                    <td>: {{ data_siswa.alamat }}</td>
                  </tr>
                  <tr>
                    <td><b>Agama</b></td>
                    <td>: {{ data_siswa.agama }}</td>
                  </tr>
                  <tr>
                    <td><b>No.Tlpn</b></td>
                    <td>: {{ data_siswa.no_tlpn }}</td>
                  </tr>
                  <tr>
                    <td><b>E-mail</b></td>
                    <td>: {{ data_siswa.email }}</td>
                  </tr>
                  <tr>
                    <td><b>Tgl Lahir</b></td>
                    <td>: {{ data_siswa.tgl_lahir }}</td>
                  </tr>
                  <tr>
                    <td><b>ID User</b></td>
                    <td>: {{ data_siswa.id_user.id_user }}</td>
                  </tr>
                </div>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-5 mb-sm-0 mt-5">
        <div class="card text-center shadow-lg" style="background-color: #cce7e8;">
          <div class="card-body">
            <div class="form-group">
              <img class="img-fluid img-circle position-relative" style="width: 200px;" src="{{ data_siswa.foto.url }}" alt="Foto : {{ data_guru.nama }}">
            </div>
            <div class="form-group">
              <h2>{{ data_siswa.nama }}</h2>
            </div><br>
            <div class="form-group">
              <a class="btn btn-outline-warning" href="{% url 'indexsiswa' %}">
                <i class="fas fa-caret-left"></i> Cancele</a> |
              <a class="btn btn-outline-danger" href="{% url 'postdeletesiswa' data_siswa.nis %}">
                <i class="fas fa-trash"></i> Delete
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

