{% extends 'layout/baseAdmin.html' %}
{% block title %}
  Data Kelas Page
{% endblock %}
{% block name_profile %}
{{ user.username }}
{% endblock %}
{% block content %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true" onclick="location.href='/indexKelas'">×</button>
  <h5><i class="icon fas fa-check"></i> Success!</h5>
  {{ message }}
</div>
{% endfor %}
<div class="card shadow-lg">
  <div class="card-header bg-info">
    <div class="text-center "><h2>Daftar Data Kelas</h2></div> 
  </div>
  <div class="card-body">
    <a class="btn btn-primary mb-3 shadow-lg p-2" href="{% url 'tambahkelas' %}"><i
        class="fas fa-plus"></i> Tambah Data Kelas</a>
    <table class="table table-bordered table-hover">
      <thead class="table-hover" style="background-color: #819293;">
        <tr style="color: white;">
          <th>NO</th>
          <th class="col-lg-2">ID Kelas</th>
          <th class="col-lg-2">Nama Kelas</th>
          <th class="col-lg-4">Nama Wali Kelas</th>
          <th class="col-lg-4">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for kelas in data_kelas %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ kelas.id_kelas }}</td>
          <td>{{ kelas.nama_kelas }}</td>
          <td>{{ kelas.nip_waliKelas.nama }}</td>
          <td>
            <a class="btn btn-info" href="{% url 'detailkelas' kelas.id_kelas %}">
              <i class="fas fa-eye"></i> Detail</a> |
            <a class="btn btn-warning" href="{% url 'updatedatakelas' kelas.id_kelas %}">
              <i class="fas fa-pencil-alt"></i> Edit</a> |
            <a class="btn btn-danger" href="{% url 'deletedatakelas' kelas.id_kelas %}">
            <i class="fas fa-trash-alt"></i> Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}