{% extends 'layout/baseAdmin.html' %}
{% block title %}
Tambah Data Kelas Page
{% endblock %}
{% block head %}
Tambah Data Kelas
{% endblock %}
{% block content %}
<div class="card shadow-lg">
  <div class="card-header bg-info">
    <div class="text-center "><h2>Tambah Data Kelas</h2></div> 
  </div>
  <div class="card-body">
    {% if message %}
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h5><i class="icon fas fa-exclamation"></i> Warning!</h5>
      {{ message }}
    </div>
    {% endif %}
    <form action="{% url 'tambahkelas' %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label>Kelas ID</label>
        <input class="form-control" type="text" name="id_kelas" id="id_kelas" maxlength="4">
      </div>
      <div class="form-group">
        <label>Nama Kelas</label>
        <input class="form-control" type="text" name="nama_kelas" id="nama_kelas" maxlength="255">
      </div>
      <div class="form-group">
        <label>NIP Wali Kelas</label>
        <select required class="form-control" name="nip_waliKelas" id="">
          <option value="" selected disabled>Pilih NIP Wali Kelas</option>
          {% for guru in data_guru %}
            {% if guru.nip not in data_waliKelas %}
              <option value="{{guru.nip}}">{{ guru.nip }} | {{ guru.nama }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <button class="btn btn-warning" type="button" onclick="location.href='/indexKelas'">
          <i class="fas fa-caret-left"></i> Kembali
        </button>
        <button class="btn btn-success" type="submit">
          <i class="fa fa-save"></i> Simpan
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}