<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SI Tambah kelas | Admin</title>
</head>
<body>
  
  <form action="{% url 'tambahkelas' %}" method="POST">
    {% csrf_token %}
    <h1>Form Tambah Kelas</h1>
    <label>
      Kelas ID : <br>
      <input type="text" name="kelasid" id="kelasid" maxlength="4" required>
    </label><br>
    <label>
      Nama Kelas : <br>
      <input type="text" name="namakelas" id="namakelas" maxlength="255" required> 
    </label><br>
    <label>
      NIP Wali Kelas : <br>
      <input type="text" name="nipwalikelas" id="nipwalikelas" maxlength="4" required>
    </label><br><br>

    <button type="submit">SUBMIT</button>
  </form>
</body>
</html>