{% extends 'layout/baseAdmin.html' %}
{% block title %}
Dashboard Admin
{% endblock %}
{% block name_profile %}
{{ user.username }}
{% endblock %}
{% if user.is_autentication %}
{% block content %}
<div class="text-center bg-info mb-4 shadow-lg card-header">
  <h1>Dashboard Admin</h1>
</div>
<!-- <p>Jumlah Nilai = {{ data_nilai }}</p> -->
<div class="row">
  <div class="col-lg-3">
    <div class="card bg-primary shadow-lg p-3 mb-5 bg-body-tertiary rounded">
      <div class="card-header">
        <h3 class="m-0">Jumlah Guru</h3>
      </div>
      <div class="card-body">
        <h4>{{ data_guru }} Guru</h4>
        <p class="card-text">Tercatat sejumlah {{ data_guru }} orang guru
          terdaftar pada sistem.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card bg-danger shadow-lg p-3 mb-5 bg-body-tertiary rounded">
      <div class="card-header">
        <h3 class="m-0">Jumlah Siswa</h3>
      </div>
      <div class="card-body">
        <h4>{{ data_siswa }} Siswa</h4>
        <p class="card-text">Tercatat sejumlah {{ data_siswa }} orang siswa
          terdaftar pada sistem.</p>
      </div>
    </div>
  </div>
  <!-- </div>
  <div class="row"> -->
  <div class="col-lg-3">
    <div class="card bg-success shadow-lg p-3 mb-5 bg-body-tertiary rounded">
      <div class="card-header text-white">
        <h3 class="m-0">Jumlah Kelas</h3>
      </div>
      <div class="card-body text-white">
        <h4>{{ data_kelas }} Kelas</h4>
        <p class="card-text">Tercatat sejumlah {{ data_kelas }} kelas
          terdaftar pada sistem.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card bg-secondary shadow-lg p-3 mb-5 bg-body-tertiary rounded">
      <div class="card-header text-white">
        <h3 class="m-0">Jumlah Mapel</h3>
      </div>
      <div class="card-body text-white">
        <h4>{{ data_mapel }} Mapel</h4>
        <p class="card-text">Tercatat sejumlah {{ data_mapel }} mata pelajaran
          terdaftar pada sistem.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% endif %}