{% extends 'layout/baseGuru.html' %}
{% block title %}
Daftar Penilaian Page
{% endblock %}
{% block head %}
Daftar Kelas Diampu
{% endblock %}
{% block name_profile %}
{{ user.nama }}
{% endblock %}
{% block foto_profile %}
{{ user.foto }}
{% endblock %}
{% block content %}
<style>
  .b {
    width: 300px; 
    height: 100px; 
    background-color: rgb(116, 116, 116);
    color: white;
  }
  .b:hover {
    background-color: rgb(141, 141, 141);
    color: white;
  }
</style>
<div>
      {% for j in jadwal %}
      <a href="{% url 'nilaisiswa' j.id_kelas.id_kelas j.id_mapel.id_mapel%}" type="button" class="btn b shadow-lg mb-5 mr-2 "style="width: 300px; height: 100px; ">
        <h5 class="mt-3" >{{ j.id_mapel.nama_mapel }} <br> {{ j.id_kelas.nama_kelas }}</h5>
      </a>
      {% empty %}
      <div class="card-header bg-danger ml-5" style="width: 92%;">
        <h4 class="text-center text-bold">Anda Tidak Mengampu Mata Pelajaran Apapun Di Kelas Manapun, <br> Hubungi Tata Usaha Jika Ini Sebuah Kesalahan !</h4>
      </div>
      {% endfor %}
</div>



{% endblock %}